/*Header*/
.header-section{
    display: flex;
    justify-content: space-between;
    border: solid 0.1rem black;
    padding: 10px;
    margin-bottom: 10px
}
.navigation{

}
.welcome{
    margin-top: 0;
    margin-bottom: 0;

}
/*main-content*/
.main-content{
    display: flex;
    justify-content: space-between;
}
/*problem-context*/
.problem-context{
    border: solid 0.1rem black;
    padding: 10px;
    overflow: auto;
    width: 50%;
    margin-right: 10px;
}
/*review*/
.reviewer-section{
    width: 50%;
    margin-left: 10px;

    border: solid 0.1rem black;
    padding: 10px;
}
/*Slider Parts Don't Change as i don't know if i can fix it*/
.slider-container {
    width: 100%;
    max-width: 600px; /* Adjust the max-width as needed */
    margin: auto;
    position: relative;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #ddd; /* Slider background */
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    margin: 20px 0;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #004AAD;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #004AAD;
    cursor: pointer;
}

.slider-labels {
    display: flex;
    margin-top: -4px; /* Adjusted to match the datalist styling */
    --list-length: 5; /* Number of labels */
}

.slider-labels span {
    text-align: center;
    white-space: normal; /* Allows text to wrap */
    font-size: 0.8rem; /* Adjust as needed */
    display: inline-block;
    width: calc((100% - 12px) / (var(--list-length) - 1));
}

.slider-labels span:first-child {
    width: calc((100% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
    text-align: left;
}

.slider-labels span:last-child {
    width: calc((100% - 12px) / ((var(--list-length) - 1) * 2) + 6px);
    text-align: right;

}
