    body {
        font-family: Arial, sans-serif;
    }
    .container {
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }
    .left-panel, .right-panel {
        box-sizing: border-box;
        float: left;
        justify-content: space-between;
        width: 100%;
        padding: 10px;
        display: flex;
    }
    .content-Section {
        background: #fff;
        border: 1px solid #000;
        padding: 20px;
        margin-right: 10px;
    }
    .content-Section h2 {
        font-size: 1.2em;
        margin: 0 0 10px 0;
    }
    .content-Section textarea {
        width: calc(100% - 20px);
        height: 100px;
        margin-bottom: 10px;
    }
    .content-Section select, .form-section input[type=submit] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }
    .help-panel {
        border: 1px solid #000;
        padding: 20px;

        width: 15%;
        /*height: 100%;*/

    }
    .form-section {
        background: #fff;
        border: 1px solid #000;
        padding: 20px;
        margin-right: 10px;
        box-sizing: border-box;
    }
    .form-section div > label {
        display: block;
        margin-bottom: 5px;
        border: 1px solid #d3d3d3;
        padding: 10px;
        background-color: #f8f8f8;
    }
    .center input[type=submit] {
        border: 2px solid #000;
        margin-right: 20px;
        background: white;
    }
